@font-face {
  font-family: marvel-regular;
  src: url(../../../assets/font/Marvel-Regular.ttf) format("truetype");
}
.navbar {
  background-color: #EC1D24;
  .navbar-brand {
    font-family: 'marvel-regular';
    font-size: 55px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  a.nav-link {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }
}

